@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.css';
@import 'primeicons/primeicons.css';

@layer components {
    .main_div {
      background-color: red;
      height: 60vh;

      display: flex;
    }
  }